ion-content {
  width: 100vw;
  height: 100vh;
  --background: transparent;
  animation: slide 0.25s ease-in;
}

#main-container {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.75);
  backdrop-filter: blur(2px);
}

.form-wrapper {
  height: 90%;
  padding: 20px;
}

.form-wrapper form {
  min-height: 70%;
  padding: 20px;
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid var(--ion-color-primary);
  border-radius: 20px;
}

form .input-wrapper {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  ion-input,
  ion-textarea {
    --padding-bottom: 20px;
    --padding-top: 20px;
  }
}

form ion-button {
  font-size: 16px;
  font-weight: bold;
  --padding-bottom: 16px;
  --padding-top: 16px;
}

@keyframes slide {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
