@let items = this.itemsToAdd();
<ion-header>
  <ion-toolbar>
    <ion-title>
      Agregar lista
    </ion-title>
    <ion-button (click)="close()" fill="clear" slot="end" color="danger">
      <ion-icon size="large" slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <div class="input-wrapper">
      <ion-label>Nombre:</ion-label>
      <ion-input formControlName="name" fill="outline" placeholder="Ingrese un nombre"
        errorText="Al menos 3 caracteres"></ion-input>
    </div>

    <div class="input-wrapper">
      <ion-label>Ítems:</ion-label>
      <ion-select (ionChange)="handleItemSelection($event)" fill="outline" placeholder="Añadir ítems" [multiple]="true"
        cancelText="Cancelar">
        @for (item of items; track item.id) {
        <ion-select-option [value]="item.id">{{item.name}}</ion-select-option>
        }
      </ion-select>
    </div>

    <div class="select-icon">
      @let icon = this.selectedIcon();
      <ion-button id="select-icon" fill="outline" shape="round">
        Elegir ícono
      </ion-button>
      @if (icon) {
      <ion-icon [src]="icon.data" color="primary"></ion-icon>
      }
    </div>

    <ion-button (click)="saveList()" [disabled]="!form.valid" fill="solid" shape="round">
      Guardar
    </ion-button>
  </form>
</ion-content>

<ion-modal trigger="select-icon" #selectIconModal>
  <ng-template>
    <app-icon-picker class="ion-page" [previousIcon]="this.selectedIcon()" (selectionSave)="saveSelectedIcon($event)"
      (selectionCancel)="closeIconSelect()"></app-icon-picker>
  </ng-template>
</ion-modal>