ion-content {
  --background: rgb(0, 0, 0, 0.3);
}

form {
  min-height: 65%;
  padding: 20px;
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid var(--ion-color-primary);
  border-radius: 16px;
  background-color: #080808;
}

form .input-wrapper {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  ion-input,
  ion-textarea {
    --padding-bottom: 20px;
    --padding-top: 20px;
  }
}

form .select-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  ion-icon {
    font-size: 48px;
  }
}

form ion-button {
  font-size: 16px;
  font-weight: bold;
  --padding-bottom: 16px;
  --padding-top: 16px;
}
