.wrapper {
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #000;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 24px;
  text-align: center;
  color: var(--ion-color-dark);
}

p {
  padding: 0;
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: var(--ion-color-medium);
}
