ion-searchbar {
  padding: 20px;
}

.icon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.icon-grid button {
  color: var(--ion-color-primary);
  background-color: transparent;
  aspect-ratio: 1 / 1;
  border-radius: 32px;
  &.selected {
    border: 3px solid var(--ion-color-primary);
    background-color: rgba(255, 255, 255, 0.1);
  }
  ion-icon {
    font-size: 48px;
  }
  .ninguno {
    font-size: 24px;
    font-weight: bold;
  }
}
