@let lists = this.lists();
@if (lists === null) {
<h2>Cargando...</h2>
}
@else {
<ion-tabs #tabs>
  @for (list of lists; track list.id) {
  <ion-tab [tab]="list.id">
    <div [id]="`${list.id}-page`" class="ion-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>{{list.name}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="list-container">
          <app-item-list [list]="list"></app-item-list>
        </div>
      </ion-content>
    </div>
  </ion-tab>
  }
  @empty {
  <h2>No hay listas de items para mostrar</h2>
  }

  <ion-tab-bar slot="bottom">
    @for (list of lists; track list.id) {
    <ion-tab-button [tab]="list.id">
      @if (list.iconData) {
      <ion-icon [src]="list.iconData"></ion-icon>
      }
      {{list.name}}
    </ion-tab-button>

    }
  </ion-tab-bar>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="openAddListForm()">
        <ion-icon name="list" color="primary"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openAddItemForm()">
        <ion-icon name="pricetag-outline" color="primary"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-tabs>
}