.content {
  height: 100%;
}

ion-list {
  height: 100%;
}

ion-item {
  font-size: 24px;
  padding: 10px 0;
  ion-checkbox {
    --size: 32px;
    &::part(container) {
      border-radius: 6px;
      border: 2px solid var(--ion-color-secondary);
    }
  }
}

.item-options-btn {
  ion-icon {
    font-size: 24px !important;
  }
}

ion-popover {
  .options-divider {
    height: 1px;
    background-color: var(--ion-color-medium);
    margin: 0;
    padding: 0;
  }
}
