.content {
  height: 100%;
}

.list-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ion-list {
  height: 100%;
}

ion-item {
  font-size: 24px;
  padding: 10px 0;
  --checkbox-size: 32px;
  ion-checkbox {
    --size: var(--checkbox-size);
    &::part(container) {
      border-radius: 6px;
      border: 2px solid var(--ion-color-secondary);
    }
  }
  .chekckbox-placeholder {
    --size: var(--checkbox-size);
    --border-radius: 10px;
  }
}

.item-options-btn {
  ion-icon {
    font-size: 24px !important;
  }
}

ion-popover {
  .options-divider {
    height: 1px;
    background-color: var(--ion-color-medium);
    margin: 0;
    padding: 0;
  }
  .popover-button {
    font-size: 20px !important;
    padding: 5px;
    &:last-of-type {
      color: var(--ion-color-danger);
    }
  }
}

.empty-list {
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  ion-label {
    font-size: 24px;
    text-align: center;
  }
}
